#bbooddyy
      {background-color: skyblue;
      }

#signup
      {background-color: #fbfbfb;
      border-radius: 5px;
      padding: 0px 0px 10px 0px;
      }

#jumbo1
      {background-image: url("../img/facebookbackground.jpg");
      height: 100%;
      background-repeat: no-repeat;
      margin-top: 50px;
      }

#signup p
      {font-size:11px;
      margin-top: 10px;
      }

#signup input
      {height: 35px;
      font-size: 17px;
      margin-bottom: 10px;
      border-radius: 5px;
      border-width: 1px;
      padding-left: 5px;
      color: #555;
      }
